* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-size: 200% 200%;
}

.landing {
    height: 88vh;
    width: 100%;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    flex-direction: column;
    text-align: center; /* Center text inside the container */
    padding-top: 5vh;  /* Add space at the top */
    padding-bottom: 5vh; /* Add space at the bottom */
}

.go-back-button {
    margin-top: 16px; /* More space above the button */
    margin-bottom: 44px; /* Increase space between button and title */
}

.go-back-button img {
    width: 100px; /* Adjust the size of the logo */
    cursor: pointer;
    transition: transform 0.3s ease;
}

.go-back-button img:hover {
    transform: scale(1.1); /* Slight zoom effect on hover */
}

.title h1 {
    font-size: 4rem;
    color: rgb(31, 29, 29);
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    cursor: default;
}

.sub-title {
    font-size: 2rem;
    color: #383636;
    margin-top: 10px;
    cursor: default;
    padding-left: 22%;
    padding-right: 22%;
}

.name-link {
    font-size: 1.8rem;
    color: rgb(34, 33, 33);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.name-link:hover {
    color: darkgray;
}

#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* MOBILE */
@media (max-width: 767px) {
    html, body {
        overflow-y: auto; /* Enable scrolling */
    }

    .landing {
        margin: 8vh auto; /* Adjust spacing for mobile */
    }

    .title h1 {
        font-size: 2.8rem; /* Reduce font size slightly */
        margin-bottom: 22px;
    }

    .name-link {
        font-size: 1.4rem;
    }

    .sub-title {
        font-size: 1.4rem;
        max-width: 85%; /* Prevent text from stretching */
        line-height: 1.6; /* Improve readability */
        margin: 0 auto;
        margin-bottom: 40px;
        padding-left: 4%;
        padding-right: 4%;
    }

    .go-back-button {
        padding-top: 33vh;
        margin-bottom: 22px; /* Increase space between button and title */
    }
}
